@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
}

#canvas {
  background-color: lightblue;
  display: block;
  background-size: cover;
  border: 2px solid #00000080;
  box-shadow: 2px 2px 15px #00000080;
  width: 40vw;
  background-image: url('./images/background-game.jpg');
  background-repeat: no-repeat;

  /* margin-bottom: 100px; */
}

img {
  height: 70px;
}

.margin-top {
  margin-top: 30px;
}

/* .margin-bottom {
    mar
} */
